#![enable(implicit_some)]
(
  path: "~/shed",
  src: [],
  network: (
    socket: "127.0.0.1:0",
    transport: "udp-client",
    tunnel: None,
    engine: None,
    peers: None,
  ),
  hgrc: (
    name: "",
    contact: "",
    description: "",
    extensions: [],
    sock: "0.0.0.0:0",
    paths: {},
  ),
)